/**/target/
/**/.mvn/
/**/.classpath
/**/.project
/**/.settings/
/**/nb-configuration.xml
/**/.springBeans
/**/.checkstyle
/**/nbactions.xml
/**/pom.xml.releaseBackup
/hydra-bundles/**/.gitignore
/hydra-microservices/**/.gitignore
/**/.idea/
