#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0
#
# Configuration properties for the Predix Machine Modbus Machine Adapter
#
# Service_PID = com.ge.dspmicro.machineadapter.modbus
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.



# [Required] Configuration file to load that contains the information about the Modbus nodes.
com.ge.dspmicro.machineadapter.modbus.configFile="configuration/machine/com.ge.dspmicro.machineadapter.modbus-moxa.xml"

# [Required] The logical name of this adapter.
com.ge.dspmicro.machineadapter.modbus.name="Moxa GW Modbus Machine Adapter"

# [Optional] A description of this adapter.
com.ge.dspmicro.machineadapter.modbus.description="Connect to Moxa gateway. Supports basic read/write capability from Modbus nodes. Supports subscription to a group of Modbus nodes."

# [Optional] Thread pool size for modbus to handle subscriptions.
com.ge.dspmicro.machineadapter.modbus.subscriptionThreadPoolSize=I"5"

# [Optional] Maximum retry times to read/write device before throw an exception. 
com.ge.dspmicro.machineadapter.modbus.nodeCommMaxTries=I"2"
